body {
    background-color: bisque;
}

.bayan {
    max-width: 500px;
    margin: 20px auto;
    cursor: pointer;
}

.bayan-item {
    border-top: 2px solid lightgray;
    margin: 10px 0;
    position: relative;
}

.bayan-title {
    display: block;
    padding: 10px;
    cursor: pointer;
    position: relative;
    transition: color .5s ease-out;
}

.bayan-title>div {
    display: flex;
    justify-content: space-between;
}

.bayan-input:not(:checked)~.bayan-title {
    color: blue;
}

 .bayan:hover .bayan-input:not(:checked)~.bayan-title {
    color: black;
}

.bayan:hover .bayan-input:not(:checked)~.bayan-title:after {
    content: "+";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 36px;
    font-weight: 900;
    color: black;
}

.bayan:hover .bayan-input:checked~.bayan-title:after {
    content: "+";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    font-size: 36px;
    font-weight: 900;
    color: black;
}

.bayan-input {
    width: 0;
    height: 0;
    position: absolute;
}

.bayan-content>img {
    width: 100%;
    height: 100%;
    border: 2px solid lightgray;
}


.bayan-input:checked~.bayan-content {
    width: 200px;
    height: 200px;
}

.bayan-item:hover>.bayan-input:not(:checked)~.bayan-content {
    width: 200px;
    height: 200px;
}

.bayan-content {
    width: 0;
    height: 0;
    transition: width 1s, height 1s;
    margin: 0 auto;
}

.bayan:hover .bayan-item:active>.bayan-title {
    color: blue;
}

.bayan:hover .bayan-item:active>.bayan-title::after {
    color: blue;
}

.bayan:hover .bayan-item:active>.bayan-content::after {
    content: "";
    width: 100%;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    left: 0;
    bottom: 0;
}
